<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to_do_list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="root">
        <div class="container">

            <div class="insert_task">

                <div class="logo">
                    <!-- img -->
                </div>
                <!-- logo -->
                <div class="addTask">
                    <input @keyup.enter="enterAdd" v-model="newTask" type="text" placeholder="insert task">
                    <button @click="addTask">add</button>
                </div>

            </div>
            <!-- /insert task -->

            <div class="tasks">
                <ul v-if="listaTask.length > 0 ">
                    <li v-for="(task, index) in listaTask">
                        {{task}}
                        <i @click="removeTask(index)" class="fas fa-times-circle"></i>
                    </li>
                </ul>
                <p class="free" :class="{noTask: noTask}">
                    sei libero
                </p>
                <p class="errorM" :class="{error: error}">
                    {{errorMessage}}
                </p>
            </div>
            <!-- /tasks  -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>
</html>